[defaults]
inventory = ./inventory.ini
#private_key_file = ../.ssh/id_ed25519
host_key_checking = False
transport = ssh
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
